section#contact {
    background-image: url("../assets/img/map.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    .section-heading {
        color: #fff;
    }
}

@media (min-width: 1200px) {
    section#contact {
        background-attachment: fixed;
    }
}