#feedbackContainer {
    .team-member {
        margin-bottom: 3rem;
        text-align: center;
    
        img {
            width: 10rem;
            height: 10rem;
            border: 0.5rem solid var(--bs-primary-2);
        }
    
        h4 {
            margin-top: 1.5rem;
            margin-bottom: 0;
        }
        p.feedback {
            margin-top: 1.5rem !important;
            &:before {
                content: open-quote;
                // font-size:;
            }
            &:after {
                content: close-quote;
            }
        }
    }
}