.team-member {
    margin-bottom: 3rem;
    text-align: center;
    img {
        width: 14rem;
        height: 14rem;
        border: 0.5rem solid var(--bs-primary);
    }
    h4, .h4 {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }
}