// $primary-1: #5c4c7a;
// $primary-2: #8559be;
// $secondary-1: #F5F5EF;
// $tertary-1: #304543;
// $tertary-2: #27965E;

$primary-1: #b07d92;
$primary-2: #421556;
$secondary-1: #F5F5EF;
$tertary-1: #304543;
$tertary-2: #27965E;

$primary-1-rgb: red($primary-1), green($primary-1), blue($primary-1);
$primary-2-rgb: red($primary-2), green($primary-2), blue($primary-2);
$secondary-1-rgb: red($secondary-1), green($secondary-1), blue($secondary-1);
$tertary-1-rgb: red($tertary-1), green($tertary-1), blue($tertary-1);
$tertary-2-rgb: red($tertary-2), green($tertary-2), blue($tertary-2);
