.dancing {
    font-family: 'Dancing Script', cursive;
}

.kalam {
    font-family: 'Kalam', cursive;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.roboto {
    font-family: 'Roboto Slab', serif;
}