@mixin bgCentered($size: cover) {
	background-size: $size;
	background-position: center;
	background-repeat: no-repeat;
    background-image: url('');
}

@mixin flex($align: center, $justify: center) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
}

@mixin textNoWrap() {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;      
}