// $primary-1: #442a4d;
// $primary-2: #7d2fca;
// $secondary-1: #F5F5EF;

$primary-1: #304543;
$primary-2: #27965E;
$secondary-1: #F5F5EF;

$primary-1-rgb: red($primary-1), green($primary-1), blue($primary-1);
$primary-2-rgb: red($primary-2), green($primary-2), blue($primary-2);
$secondary-1-rgb: red($secondary-1), green($secondary-1), blue($secondary-1);

// $primary-1-rgb: 48, 69, 67;
// $primary-2-rgb: 39, 150, 94;
// $secondary-1-rgb: 254, 245, 239;