.carousel {
    height: $carouselHeight;
    .carousel-inner {
        height: 100%;
        z-index: -1;
        .carousel-item {
            height: 100%;
            position: relative;
            img {
                filter: sepia(30%) grayscale(30%);
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
            &:before {
                content: "";
                position: absolute;
                inset: 0;
                // background-color: rgba(0,0,0,0.5);
                background-color: rgba(var(--bs-primary-rgb),0.5);
                // background-image: linear-gradient(45deg, rgba(var(--bs-primary-rgb), 0.9), rgba(var(--bs-black-rgb), 0.2), rgba(var(--bs-primary-rgb), 0.9));
                z-index: 1;
            }
            .carousel-caption {
                z-index: 2;
                text-shadow: 0 0 10px rgba(0,0,0,0.5);
            }
        }
    }
    .carousel-control-prev, .carousel-control-next {
        visibility: hidden;
    }
    .container {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        text-align: center;
        img {
            height: 40%;
        }
        .carousel-subheading {
            font-size: 1.5rem;
            font-style: italic;
            line-height: 1.5rem;
            margin-bottom: 25px;
            font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
        .carousel-heading {
            font-size: 2rem;
            font-weight: 700;
            line-height: 2rem;
            margin-bottom: 2rem;
            font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            text-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    }
}

@media (min-width: 992px) {
    .carousel {
        .carousel-control-prev, .carousel-control-next {
            visibility: visible;
        }
        .container {
            img {
                height: 40%;
            }
            .carousel-subheading {
                font-size: 2rem;
                font-style: italic;
                line-height: 2rem;
                margin-bottom: 2rem;
            }
            .carousel-heading {
                font-size: 3.5rem;
                font-weight: 700;
                line-height: 3.5rem;
                margin-bottom: 3rem;
            }
        }
    }
}