.modal-form {
    .modal-content {
        height: 75vh;
        background-image: url("../assets/img/map.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        small {
            color: rgba(255,255,255,0.6);
        }
        .modal-header, .modal-footer {
            border: none;
        }
        .modal-body {
            @include flex();
            .form-control {
                font-family: 'Montserrat', sans-serif;
                border: none;
                border-radius: 0;
                box-shadow: 0 1px 0 rgba(255,255,255,0.6);
                // border-bottom: 1px solid rgba(255,255,255,0.6);
                color: #fff;
                background-color: rgba(var(--bs-primary-rgb),0.5);
                &:focus {
                    // border-bottom: 2px solid #fff;
                    box-shadow: 0 2px 0 #fff;
                }
                &::placeholder {
                    font-family: 'Montserrat', sans-serif;
                    color: rgba(255,255,255,0.6) !important;
                }
            }
            .invalid-tooltip {
                background-color: var(--bs-secondary);
                color: rgba(220,53,69,0.9);
            }
            .carousel-item {
                transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out !important;
            }
            .valid {
                min-width: 300px;
                .spinner-border {
                    visibility: hidden;
                }
                .sending {
                    display: none;
                }
                &:disabled {
                    .spinner-border {
                        visibility: visible;
                    }
                    .sending {
                        display: inline;
                    }
                    .send {
                        display: none;
                    }
                }
            }
        }
        .modal-footer {
            button {
                min-width: 100px;
            }
        }
    }
}

@media (min-width: 992px) {
    .modal-form {
        textarea {
            min-height: 200px;
       }
       .modal-body {
            > div {
                width: 75%;
            }
       }
    }
}