ul.timeline {
    li {
        transition: transform 0.5s;
        transform: translateX(-50%);
        &.timeline-inverted {
            transform: translateX(50%);
        }
        &.in {
            transform: translateX(0);
        }
    }
}